/recentf
/tramp
*~
elpa/
/bbdb
/lisp/init-org2blog.org
/lisp/init-org2blog.el
/.bookmarks.el
/.emacs.desktop
/.places
emms/
games/
image-dired/
/ac-comphist.dat
/custom.el
/lisp/init-wttrin.el
/eshell/history
eshell/
/.org-id-locations
/lisp/geben-0.26.tar.gz
/#init.el#
/lisp/geben-0.26/
archives/
elpa/
elpa/
elpa/*
./elpa*
