/recentf
/tramp
*~
/bbdb
/lisp/init-org2blog.org
/lisp/init-org2blog.el
/.bookmarks.el
/.emacs.desktop
/.places
emms/
games/
image-dired/
/ac-comphist.dat
/custom.el
/lisp/init-wttrin.el
/eshell/history
eshell/
/.org-id-locations
/lisp/geben-0.26.tar.gz
/#init.el#
/lisp/geben-0.26/
archives/
elpa/
*session*
**/melpa
archive-contents
elpa/*
elpa/*
/lisp/#init-javascript.org#
/#recentf#
lisp/init-gnus-secret.el
lisp/init-gun-secret.org
